* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

html,
body {
    width: 100%;
    margin: 0;
    background-color: #262626;
}
@media only screen and (max-width: 1300px) and (min-width: 900px){
    body, .text-description p {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 899px) and (min-width: 600px){
    body, .text-description p  {
        font-size: 11px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 599px) and (min-width: 400px){
    body, .text-description p  {
        font-size: 10px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 399px){
    body, .text-description p  {
        font-size: 10px;
    }
    h2, h3 {
        font-size: 14px;
    }

}
.navbar-header {
    padding-left: 15px;
}
.container.my-container {
    margin: 7.5em auto;
    display: grid;
    width: 60%;
    padding: 0;
    /*position: relative;*/
}
.row {
    margin: 2% auto 10%;
}

/* ***************************************************** */
/*Home Page*/
.container{
    margin: auto;
    padding: 0;
    width: 100%;
}
.my-parallax {
    background: url("../img/bkg.jpg") no-repeat fixed center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.my-parallax2{
    background: url("../img/bkg2.jpg") no-repeat fixed center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.my-parallax3{
    background: url("../img/bkg3.jpg") no-repeat fixed center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.home {
    margin: 50px auto;
    height: 100%;
    /*width: 80%;*/
    padding: 10%;
}
.home h1,
.home h4,
#portfolio-container h4,
.contact h1,
.my-header h1{
    font-size: 5em;
    font-weight: 800;
    text-shadow: 7px 0 2px rgba(150, 150, 150, 1);
    color: #f1f1f1;
    text-transform: uppercase;
}
.my-color{
    background-color: #222;
    color: #999;
}
.container.small{
    height: auto;
    position: relative;
}
.my-color .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    opacity: .5;
    background:linear-gradient(30deg,#222 12%,transparent 12.5%,transparent 87%,#222 87.5%,#222 0),linear-gradient(150deg,#222 12%,transparent 12.5%,transparent 87%,#222 87.5%,#222 0),linear-gradient(30deg,#222 12%,transparent 12.5%,transparent 87%,#222 87.5%,#222 0),linear-gradient(150deg,#222 12%,transparent 12.5%,transparent 87%,#222 87.5%,#222 0),linear-gradient(60deg,#333 25%,transparent 25.5%,transparent 75%,#333 75%,#333 0),linear-gradient(60deg,#333 25%,transparent 25.5%,transparent 75%,#333 75%,#333 0),#555;
    background-position: 0 0, 0 0,40px 70px,40px 70px,0 0,40px 70px;
    background-size: 80px 140px;
}
.about-me h2 {
    display: inline;
}
.about-me,
.skills {
    border: 10px solid #333;
    height: 400px;
    padding: 30px;
}
li {
    list-style: none;
}
img.my-photo {
    border-radius: 50px;
    float: right;
}
.text-description p{
    display: inline-block;
    font-size: 16px;
}
.skills {
    font-size: 18px;
    line-height: 2;
}
.skills h2 {
    margin-bottom: 40px;
    text-align: center;
}
/*carousel*/
.carousel {
    padding: 10em;
}
#myCarousel .item {
    height: 300px;
}
.about-container,
.portfolio{
    width: 70%;
    height: 100%;
    margin: auto;
}
.wrapper {
    margin-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
}
figure {
    position: relative;
}
figure img.port-img {
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 10;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: relative;
}
figure:hover img.port-img {
    -webkit-transform: rotate(-360deg) scale(0);
    -moz-transform: rotate(-360deg) scale(0);
    -ms-transform: rotate(-360deg) scale(0);
    -o-transform: rotate(-360deg) scale(0);
    transform: rotate(-360deg) scale(0);
}
figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3b3b3b;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}
figcaption a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
figcaption a:hover {
    color: #fff;
    text-decoration: none;
}
.row.portfolio-area {
    margin-bottom: 0;
}
.portfolio-button button{
    background-color: #3b3b3b;
    border: none;
    width: 60%;
    font-size: 1.4em;
}
.portfolio-button button:hover,
.portfolio-button button:active,
.portfolio-button button:active:hover,
.portfolio-button button:focus {
    background-color: #4378ac;
}
.portfolio-button a {
    color: #afafaf;
}
.portfolio-button a:hover {
    font-weight: normal;
}
.contact {
    color: #f1f1f1;
    width: 50%;
    margin: auto;
}
.contact-area{
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 5px;
    padding: 15px 0;
    margin: 50px auto 30px;
}
.contact-area span {
    padding-right: 20px;
}

/* ********************************************* */
/*Algorithms page*/
.row.my-header{
    margin-bottom: 5%;
}
.emptyDiv:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.algorithm-card {
    -webkit-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.25);
    box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.25);
    padding: 30px;
    margin: 20px auto;
}
.button-row {
    margin-top: 10%;
}
.shows-answer{
    padding: 20px;
}
.row.margin0 {
    margin-bottom: 0;
}
.panel-title {
    font-size: 3.6em;
    color: #3b3b3b;
}
.panel-default>.panel-heading{
    background-color: transparent;
}
.panel-title a {
    display: block;
}
a:focus,
a:hover{
    text-decoration: none;
    font-weight: 600;
}
.sum {
    margin-top: 10px;
}
input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #9e9e9e;
}
input:focus {
    border-bottom: 2px solid #5cb85c;
}
input#string-input,
input#times-input{
    width: 45%;
    margin-right: 5px;
}
.form-control {
    font-size: 10px;
}
/* ********************************************************** */
/* OOP page*/
.bordered {
    border: 2px solid gray;
}
.obj-description {
    border: 1px solid #9e9e9e;
    padding: 5px;
    line-height: 1.5;
    margin: 20px 0;
    background-color: #f1f1f1;
}
h4 {
    line-height: 1.7;
}

.object-card {
    -webkit-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.25);
    box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.25);
    padding: 30px;
    margin: 20px auto;
}
.object-card:hover {
    -webkit-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.75);
    cursor: pointer;
}
.js-link {
    text-align: center;
    padding: 1em;
}
.example-description{
    line-height: 2;
}
